---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import WorkCard from "../components/WorkCard.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex min-h-full flex-col items-center p-10 max-w-3xl mx-auto">
    <div class="flex flex-col gap-4">
      <div class="mb-4">
        <div class="flex justify-between items-center">
          <h1 class="text-xl">Texto prueba 🖐️</h1>
          <p class="text-xs text-gray-200">mail@gmail.com</p>
        </div>

        <p class="max-w-md text-gray-300 mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nam
          accusantium doloremque accusamus iste sed enim neque tempore, pariatur
          id sint iure! Inventore minus repellat ducimus. Ipsum soluta mollitia
          quas.
        </p>
      </div>
      <h2 class="text-lg">Titulo prueba 1</h2>
      <div class="flex items-center gap-2 flex-wrap">
        <WorkCard />
        <WorkCard />
      </div>
      <h2 class="text-lg">Titulo prueba 2</h2>
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
    </div>
  </main>
</Layout>
